django
django-crispy-forms
django-allauth
django-environ
django-cors-headers
dj_rest_auth

django-htmx
django-template-partials
django-bootstrap-v5  # deprecated
django-bootstrap5  # new
django-widget-tweaks

Pillow

gunicorn

django-fobi
easy-thumbnails

