{% load partials %}

{% partialdef post-list %}
    {% for post in post_list %}
        <div>
            #{{ post.pk }}. {{ post.title }}
        </div>
    {% endfor %}

    {% if page_obj.has_next %}
        <button hx-get="?page={{ page_obj.next_page_number }}"
                hx-target="this"
                hx-swap="outerHTML"
                hx-trigger="revealed">
            Loading ...
        </button>
    {% endif %}
{% endpartialdef %}

<script src="//unpkg.com/htmx.org@2.0.4"></script>

<body>
    <h2>블로그</h2>

    <a href="{% url 'blog:post_new' %}">New Post</a>

    <div id="post-list">
        {% partial post-list %}
    </div>

{#    {{ page_obj.has_next }}#}
{#    {{ page_obj.next_page_number }}#}

</body>
