{% extends "blog/base.html" %}
{% load partials %}

{% partialdef post-list %}
    {% for post in post_list %}
        <div>
            #{{ post.pk }}. {{ post.title }}
        </div>
    {% endfor %}

    {% if page_obj.has_next %}
        <button hx-get="?page={{ page_obj.next_page_number }}"
                hx-target="this"
                hx-swap="outerHTML"
                hx-trigger="revealed">
            Loading ...
        </button>
    {% endif %}
{% endpartialdef %}

{% block content %}
    <a hx-get="{% url 'blog:post_new' %}"
       hx-trigger="click"
       hx-target="body"
       hx-swap="afterend"
       class="btn btn-primary"
    >
        New Post
    </a>

    <div>
        {% partial post-list %}
    </div>
{% endblock %}
