{# 암호화된 URL을 표시할 모달 #}
<div class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block modal-title %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modal-body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<script>
  (function() {
    const scriptEl = document.currentScript;
    const modalEl = scriptEl.previousElementSibling;
    const modal = new bootstrap.Modal(modalEl);
    modal.show();

    modalEl.addEventListener('hidden.bs.modal', function () {
      modal.dispose();
      modalEl.remove();
      scriptEl.remove();
    })
  })();
</script>
