<div class="choice-form mb-2 border-bottom pb-2">
  <div class="d-flex">
    <input type="text" name="questions-{{ question_idx }}-choices-{{ form_idx }}-choice_text"
           class="form-control me-2" placeholder="선택지 내용">
    <div class="form-check">
      <input type="checkbox" name="questions-{{ question_idx }}-choices-{{ form_idx }}-is_correct"
             class="form-check-input">
      <label class="form-check-label">정답</label>
    </div>
    <button type="button" class="btn btn-sm btn-outline-danger ms-2 delete-choice-btn">삭제</button>
  </div>
</div>