{% if media_type == 'text' %}
  <div class="mb-3">
    <label for="id_media_items-{{ form_idx }}-text_content">텍스트 내용</label>
    <textarea name="media_items-{{ form_idx }}-text_content"
              id="id_media_items-{{ form_idx }}-text_content"
              class="form-control"
              rows="3">{{ form.text_content.value|default:"" }}</textarea>
    {{ form.text_content.errors }}
  </div>
{% elif media_type == 'file' %}
  <div class="mb-3">
    <label for="id_media_items-{{ form_idx }}-file">파일 업로드</label>
    <input type="file" name="media_items-{{ form_idx }}-file"
           id="id_media_items-{{ form_idx }}-file"
           class="form-control">
    {% if form.file.value %}
      <p class="mt-2">현재 파일: <a href="{{ form.file.value.url }}">{{ form.file.value }}</a></p>
    {% endif %}
    {{ form.file.errors }}
  </div>
{% elif media_type == 'image' %}
  <div class="mb-3">
    <label for="id_media_items-{{ form_idx }}-image">이미지 업로드</label>
    <input type="file" name="media_items-{{ form_idx }}-image"
           id="id_media_items-{{ form_idx }}-image"
           class="form-control"
           accept="image/*">
    {% if form.image.value %}
      <p class="mt-2">현재 이미지:</p>
      <img src="{{ form.image.value.url }}" class="img-thumbnail" style="max-height: 200px;">
    {% endif %}
    {{ form.image.errors }}
  </div>
{% endif %}